
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

.card2{
    margin-top: 80px;
    width: 100%;
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.myimg2{
background-image: url(https://static.wixstatic.com/media/4d2d8fa0c42543a7b9a5ec9416597378.jpg/v1/fill/w_3760,h_2116,fp_0.50_0.50,q_90,enc_avif,quality_auto/4d2d8fa0c42543a7b9a5ec9416597378.jpg);
width:50%; 
height:70vh;
background-size: cover;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 50%;
    height: 40vh;
    border:1px solid rgba(246, 242, 242, 0.996) ;

}
.Spa h2{
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    color: black;  
}


.card3{
    margin-top: 80px;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.myimg3{
    width: 50%;
    height: 70vh;
    background-size: cover;
    background-image: url(https://static.wixstatic.com/media/38c4af340de54c78b4e1869be78ef1fd.jpg/v1/fill/w_3760,h_2116,fp_0.50_0.50,q_90,enc_avif,quality_auto/38c4af340de54c78b4e1869be78ef1fd.jpg);
}


.text3{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 50%;
    height: 50vh;
    border:1px solid rgba(246, 242, 242, 0.996) ;


}
.Spa h2{
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    color: black;  
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 50%;
    height: 40vh;
    border:1px solid rgba(246, 242, 242, 0.996) ;
  
}
    

.linepr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.ln{
    width: 90%;
    background-color: gray;
    height: 1px;

}


.administrateur{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 90px;

}
.administrateur span{
   font-size: 12px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.administrateur p{
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sable h2{
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    color: black;  
}

    
.creez span{
    color: black;
    font-weight: 200;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bastext{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 10px;
    margin-bottom: -20px;
    
}
.bastext :hover{
    color: rgb(28, 172, 230);
}

.com{
    width: 100%;
    display: flex;

}
.leftsvg{
    width: 50%;
    display: flex;
    
}
.rightsvg{
    width: 50%;
    display: flex;
 
}

.comsvg{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-left: 50px;
}

.eye{
    display: flex;
    gap: 5px;
}
.com2{
    display: flex;
    gap: 5px;
}

.coeur{
    display: flex;
    gap: 3px;
    margin-right: 10px;
}

.coeur{
     fill: transparent;
    stroke: #e84a43;
    stroke-width: 1.5px;
    transition: fill .25s;
}



@media  ( max-width:1000px ) {
    .card2{
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .myimg2{
        background-size: cover;
        background-position: center;
        justify-content: center;
    }
    
    .text2{
       height: 300px; 
    }
}


@media  ( max-width:1000px ) {
    .card3{
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .myimg3{
        background-size: cover;
        background-position: center;
        justify-content: center;
    }
    
    .text3{
       height: 300px; 
    }
}