*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

.burger{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.burgerline{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
 
}
 #check{
    display: none;
 }

 #check:checked + .nav2 {
    display: flex;
    width: 100%;
    height: 100vh;
    position:fixed ;
    top: 20px;
    left: 20px;
    background-color:#2573DA;
    justify-content: center;
    flex-direction: column;
  
   
 }
 .nav2 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
 }
 .lfb{
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
 }

 .nav2{
    display: none;
 }


header{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}
.nav1{
    width: 50%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 25px;   
}
a{
    color: grey;
    font-size: medium;
}
i{
    color:grey;
    cursor: pointer;
    font-size: 20px;
   
}
.logos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
 
}

main{
    background-image: url(https://static.wixstatic.com/media/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg/v1/fill/w_1344,h_445,al_b,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_26f1a5c736e544e09c63c82a4c792645~mv2_d_3839_1306_s_2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.blog1 {
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
 
}
.blog1 h1{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(247, 244, 244);
    font: weight 500px;
   
}
.blog1 p{
        font-family: "Tuffy", sans-serif;
        font-weight: 400;
        font-size:18px;
        font-style: normal;
        color:rgb(247, 240, 240);
      
      
}

.para{
    width: 100%;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 5px;
    text-align: center;
  
}
.para p{
    color:rgb(105,105,105);
    font-size:small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
}
.photos{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 15px;
   
}


.voyager{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-position: center;
    background-image: url(https://static.wixstatic.com/media/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg);
}

.manger{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-position: center;
    background-image: url(https://static.wixstatic.com/media/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg);
}


.relaxer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-position: bottom;
    background-image: url(https://static.wixstatic.com/media/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg);
}

.photos button{
   color: rgb(37,115,218);
   font-size: 18px;
   line-height: 1.4em;
   font-family: 'Times New Roman', Times, serif;
   border: none;
   padding: 10px 30px;
   cursor: pointer;

}


.line{
    width: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    transform-origin: center;
}
.orange{
    background-color: #FAC98B;
    width: 1px;
    height: 50px;
}

.ils {
    display: flex;
    justify-content:center;
    align-items: center;
   
}
 .ils  { 
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 0.03em;  

  }
   .textblog{
    display: flex;
    justify-content: center;
    align-items: center;

   }

.voyage{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    letter-spacing: 0.1em;
    margin: 0;

}
.blogtx{
    color: black;
    font-size: 30px;
    letter-spacing: 0.05em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: lighter;
    position: relative;
    right:-40px;
  
     /* აქ მაინც მომიწია პოზიცია */
}


.textplane{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.textplane span{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
  
}
.textplane svg{
    transform: rotate(-30deg);
    width: 20px;
}

.tour{
    font-weight: bolder;
}

.textmonde p{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    width: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .textsky{
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;

    }

    
   
    .textsky p{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        font-size: x-large;
        font-weight: 700;

    }
   
    .textsky svg{
        width: 20px;
       
    }

/* /////////////////// new */

  .logosPar{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5%;
    padding: 20px;
    margin: 50px 0;
  }

.logosPar .logoSvig:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////new  */



    .firstcard{
        margin-top: 80px;
        width: 100%;
        /* height:100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .myimg{
        width:50%; 
        height:70vh;
        background-size: cover;
        background-image: url(https://static.wixstatic.com/media/da1004557f254d4b9d4166b1bf32c599.jpg/v1/fill/w_1682,h_1123,al_c,q_90/da1004557f254d4b9d4166b1bf32c599.webp);
    }

.text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 50%;
    height: 50vh;
    border:1px solid rgba(246, 242, 242, 0.996) ;
  
}
    

.linepr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.ln{
    width: 90%;
    background-color: gray;
    height: 1px;

}



.administrateur{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 90px;

}
.administrateur span{
   font-size: 12px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.administrateur p{
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Grèce h2{
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    color: black;  
}

    
.creez span{
    color: black;
    font-weight: 200;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bastext{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 10px;
    
}
.bastext :hover{
    color: rgb(28, 172, 230);
}

.com{
    width: 100%;
    display: flex;

}
.leftsvg{
    width: 50%;
    display: flex;
    
}
.rightsvg{
    width: 50%;
    display: flex;
 
}

.comsvg{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
   
}

.eye{
    display: flex;
    gap: 5px;
}
.com2{
    display: flex;
    gap: 5px;
}

.coeur{
    display: flex;
    gap: 3px;
 
}

.coeur{ fill: transparent;
    stroke: #e84a43;
    stroke-width: 1.5px;
    transition: fill .25s;}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

    @media screen and (max-width:600px){
        .lfb{
            display: flex;
            width: 100%;
            height: 100vh;
           
        }

        
        .nav1{
            display: none;
        }
        .logosPar{
            
            gap:25px;}
          
    }
    

@media  (max-width:900px){ 
    main{
        width: 900px;
        display: flex;
        background-position: center;
    }

    .photos{
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .para{
        width: 800px;
        display: flex;
        justify-content: center;
        
    }

  .logosPar{
    width: 900px;
  }
}

@media ( max-width:1000px ) {
    .firstcard {
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      
    }

    .myimg{
        background-size: cover;
        background-position: center;
      
    }
    
    .text{
       height: 300px; 
    }
}

