* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  margin-top: 80px;
  width: 100%;
  height: 100vh;
}
footer .bleuicons {
  width: 100%;
  height: 80px;
  background-color: #2573DA;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bleuicons .icons {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
footer .bleuicons .icons p {
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
footer .bleuicons .icons div {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
footer .bleuicons .icons div i {
  color: white;
  font-size: 20px;
}

.parfot {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.parfot .footfot1 {
  background-size: cover;
  background-image: url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/01.jpg);
}
.parfot .footfot2 {
  background-size: cover;
  background-image: url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/02.jpg);
}
.parfot .footfot3 {
  background-size: cover;
  background-image: url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/03.jpg);
}
.parfot .footfot4 {
  background-size: cover;
  background-image: url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/04.jpg);
}
.parfot .footfot5 {
  background-size: cover;
  background-image: url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/05.jpg);
}

.gray {
  background-color: #696969;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gray .btnn {
  border: none;
  background-color: #696969;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  cursor: pointer;
}
.gray .fl {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  fill: #87B0E6;
}
.gray .btnpar {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray .btnpar button {
  padding: 10px 40px;
  background-color: white;
  color: black;
  border-width: 1px;
  cursor: pointer;
}

.gray2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gray2 .foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 10px;
}
.gray2 .foto .tex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
  gap: 30px;
  height: 400px;
}
.gray2 .foto .tex h3 {
  font-size: 20px;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  color: white;
}
.gray2 .foto .tex span {
  color: white;
  line-height: 1.5em;
  font-size: 15px;
}
.gray2 .foto .pi {
  width: 25%;
}
.gray2 .news {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.gray2 .news .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gray2 .news .form h3 {
  font-family: "EB Garamond", serif;
  color: white;
  font-size: 30px;
  letter-spacing: 0.04em;
  font-weight: 100;
}
.gray2 .news .form .p {
  color: white;
}
.gray2 .news .form .inpp {
  background-color: rgb(4, 255, 0);
  height: 30px;
  border-color: white;
  background-color: #696969;
  border-color: white;
  border-radius: 2px;
}
.gray2 .news button {
  padding: 10px 30px;
  color: white;
  background-color: #2573DA;
  border: none;
  cursor: pointer;
}
.gray2 .ic2 {
  width: 56%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 15px;
  color: white;
  font-size: 23px;
  left: 60px;
}

.smalltex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  gap: 30px;
  margin: 0 auto;
}
.smalltex span {
  color: white;
}
.smalltex p {
  color: white;
}/*# sourceMappingURL=footer.css.map */